/* .background {
	background-image: url("/svg/background_form.svg");
	background-size: cover;
	transform: scaleX(-1);
	position: absolute;
	bottom: 0;
	top: 0;
} */

.form {
	min-width: 50%;
	max-width: 50%;
	height: 80%;
	position: relative;
}
.form_blur {
	background-color: rgba(0, 101, 170, 0.2);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	backdrop-filter: blur(1em);
	filter: blur(1px);
	border: 1px outset white;
	box-shadow: #0092f6 0.5px 0.5px 0.5px;
	border-radius: 10% 1% 10% 1%;
	z-index: -1;
}

.form_inputs {
	height: 100%;
	width: 100%;
}
